Flask==2.3.3
Flask-Cors==4.0.0
gunicorn==21.2.0
google-generativeai==0.3.2
requests==2.31.0
google-api-python-client==2.108.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
beautifulsoup4==4.12.2
bibtexparser==1.4.0
Werkzeug==2.3.7
